
body{
    color:  #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

p{
    line-height: 2;
}

a{
    color: #01666b;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

h1{
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;/* top and bottom is 0 and left and right is auto*/
    font-family: 'Sacramento', cursive;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
/* ###############Class Selectors ################ */

.Top-Container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;

}

.Intro{
    width: 30%;
    margin: auto;
}

.Contact-Message{
    width: 40%;
    margin: 40px auto 60px;

}


.Copyright{
    color: #EAF6F6;
    font-size: 0.75rcm;
    padding: 20px 0;
}



/*MySkills Images*/

.Sun{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 25%;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}
.Bottom-Cloud{
    position:absolute;
    left: 250px;
    bottom: 300px;
}
.Top-Cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}


.Bird{
    height: 80px;
    width: 80px;
    position: absolute;
    bottom: 150px;
    left: 300px;

}
.Skill-Img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.Chilli-Img{
    width: 25%;
    float: right;
    margin-left: 30px;
}


.SkillBoy{
    height: 150px;
    width: 150px;
    border-radius: 20%;
}

/* bUTTON */

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }